  @mixin linear-gradient($property, $angle, $startColor, $endColor, $colorStops: null) {
    $webkitAngle: 90 - $angle;
    @if $colorStops==null {
      #{$property}: -webkit-linear-gradient(#{$webkitAngle}deg, $startColor, $endColor);
      #{$property}: -moz-linear-gradient(#{$angle}deg, $startColor, $endColor);
      #{$property}: -o-linear-gradient(#{$angle}deg, $startColor, $endColor);
      #{$property}: linear-gradient(#{$angle}deg, $startColor, $endColor);
    }
    @else {
      #{$property}: -webkit-linear-gradient(#{$webkitAngle}deg, $startColor, _fnGetColorStops($colorStops), $endColor);
      #{$property}: -moz-linear-gradient(#{$angle}deg, $startColor, _fnGetColorStops($colorStops), $endColor);
      #{$property}: -o-linear-gradient(#{$angle}deg, $startColor, _fnGetColorStops($colorStops), $endColor);
      #{$property}: linear-gradient(#{$angle}deg, $startColor, _fnGetColorStops($colorStops), $endColor);
    }
  }

  @mixin repeating-linear-gradient($property, $angle, $startColor, $colorStops) {
    $webkitAngle: 90 - $angle;
    #{$property}: -webkit-repeating-linear-gradient(#{$webkitAngle}deg, $startColor, _fnGetColorStops($colorStops));
    #{$property}: -moz-repeating-linear-gradient(#{$angle}deg, $startColor, _fnGetColorStops($colorStops));
    #{$property}: -o-repeating-linear-gradient(#{$angle}deg, $startColor, _fnGetColorStops($colorStops));
    #{$property}: repeating-linear-gradient(#{$angle}deg, $startColor, _fnGetColorStops($colorStops));
  }

  @mixin radial-gradient($property, $shapeOrSize, $colorStops) {
    #{$property}: -webkit-radial-gradient($shapeOrSize, _fnGetColorStops($colorStops));
    #{$property}: -moz-radial-gradient($shapeOrSize, _fnGetColorStops($colorStops));
    #{$property}: -o-radial-gradient($shapeOrSize, _fnGetColorStops($colorStops));
    #{$property}: radial-gradient($shapeOrSize, _fnGetColorStops($colorStops));
  }

  @mixin repeating-radial-gradient($property, $shapeOrSize, $colorStops) {
    #{$property}: -webkit-repeating-radial-gradient($shapeOrSize, _fnGetColorStops($colorStops));
    #{$property}: -moz-repeating-radial-gradient($shapeOrSize, _fnGetColorStops($colorStops));
    #{$property}: -o-repeating-radial-gradient($shapeOrSize, _fnGetColorStops($colorStops));
    #{$property}: repeating-radial-gradient($shapeOrSize, _fnGetColorStops($colorStops));
  }

  @function _fnGetColorStops($colorStops) {
    $colorStopsText: null;
    @each $color,
    $precentOrLength in $colorStops {
      $colorStopsText: $colorStopsText, $color $precentOrLength;
    }
    @return $colorStopsText;
  }
