@mixin columns($option) {
  -webkit-columns: $option;
  -moz-columns: $option;
  columns: $option;
}

@mixin column-width($length) {
  -webkit-column-width: $length;
  -moz-column-width: $length;
  column-width: $length;
}

@mixin column-count($count) {
  -webkit-column-count: $count;
  -moz-column-count: $count;
  column-count: $count;
}

@mixin column-gap($length) {
  -webkit-column-gap: $length;
  -moz-column-gap: $length;
  column-gap: $length;
}

@mixin column-rule($rule) {
  -webkit-column-rule: $rule;
  -moz-column-rule: $rule;
  column-rule: $rule;
}

@mixin column-rule-width($width) {
  -webkit-column-rule-width: $width;
  -moz-column-rule-width: $width;
  column-rule-width: $width;
}

@mixin column-rule-style($style) {
  -webkit-column-rule-style: $style;
  -moz-column-rule-style: $style;
  column-rule-style: $style;
}

@mixin column-rule-color($color) {
  -webkit-column-rule-color: $color;
  -moz-column-rule-color: $color;
  column-rule-color: $color;
}

@mixin column-span($option) {
  -webkit-column-span: $option;
  column-span: $option;
}

@mixin column-fill($option) {
  -webkit-column-fill: $option;
  -moz-column-fill: $option;
  column-fill: $option;
}

@mixin column-break-before($option) {
  -webkit-column-break-before: $option;
  column-break-before: $option
}

@mixin column-break-after($option) {
  -webkit-column-break-after: $option;
  column-break-after: $option;
}

@mixin column-break-inside($option) {
  -webkit-column-break-inside: $option;
  column-break-inside: $option;
}