@mixin transform($option) {
  -webkit-transform: $option;
  -moz-transform: $option;
  -ms-transform: $option;
  -o-transform: $option;
  transform: $option;
}

@mixin transform-origin($option) {
  -webkit-transform-origin: $option;
  -moz-transform-origin: $option;
  -ms-transform-origin: $option;
  -o-transform-origin: $option;
  transform-origin: $option;
}

@mixin transform-style($style) {
  -webkit-transform-style: $style;
  -moz-transform-style: $style;
  -ms-transform-style: $style;
  -o-transform-style: $style;
  transform-style: $style;
}

@mixin perspective($length) {
  -webkit-perspective: $length;
  -moz-perspective: $length;
  perspective: $length;
}

@mixin perspective-origin($option) {
  -webkit-perspective-origin: $option;
  -moz-perspective-origin: $option;
  perspective-origin: $option;
}

@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  backface-visibility: $visibility;
}