@mixin _hover-menu-collapsed() {
    @if $frame=='left-top' {
        >.gdeic-header {
            margin-left: $collapsedAsideWidth;
        }
    }
    >.gdeic-aside {
        width: $collapsedAsideWidth;
        >nav.gdeic-aside-nav>a,
        >ul.gdeic-aside-nav>li>a {
            padding-left: ($collapsedAsideWidth - $mainFontSize) / 2;
            &:after {
                visibility: hidden;
            }
            >span {
                &.glyphicon,
                &.fa {
                    +span {
                        display: none;
                    }
                }
            }
        }
        >.gdeic-aside-toolbar {
            width: $collapsedAsideWidth;
            >.gdeic-aside-toolbar-item {
                &.collapsed-hidden {
                    display: none;
                }
            }
        }
    }
    >.gdeic-content {
        margin-left: $collapsedAsideWidth!important;
    }
}

@mixin _hover-menu-expanded() {
    >.gdeic-aside {
        width: $asideWidth;
        >nav.gdeic-aside-nav>a,
        >ul.gdeic-aside-nav>li>a {
            padding-left: 15px;
            >span {
                &.glyphicon,
                &.fa {
                    +span {
                        display: initial;
                    }
                }
            }
        }
        >.gdeic-aside-toolbar {
            width: $asideWidth;
            >.gdeic-aside-toolbar-item {
                display: initial;
            }
        }
    }
}

@mixin hover-menu() {
    .gdeic {
        >.gdeic-aside {
            overflow-x: hidden;
            >nav.gdeic-aside-nav>a,
            >ul.gdeic-aside-nav>li>a {
                display: block;
                padding-left: 15px;
                line-height: 3em;
                white-space: nowrap;
                @include a($headerColor);
                &:hover,
                &.active {
                    background-color: $asideHighlightColor;
                }
                &.active {
                    border-top: fnDefaultBorder(fnGetColor($asideHighlightColor, 30));
                    border-bottom: fnDefaultBorder(fnGetColor($asideHighlightColor, -30));
                    &:after {
                        content: "";
                        position: absolute;
                        right: 0;
                        margin-top: -2em;
                        @include caret(left, .5em, $bodyColor);
                    }
                }
                >span {
                    &.glyphicon,
                    &.fa {
                        +span {
                            margin-left: .5em;
                        }
                    }
                }
            }
        }
    }
    // media query
    @media(min-width:$collapseMediaWidth + 1px) {
        .gdeic {
            &.collapsed {
                @include _collapsed-hover($collapsedAsideWidth);
                @include _hover-menu-collapsed();
            }
            @include _hover-menu-expanded();
        }
    }
    @media(max-width: $collapseMediaWidth) {
        .gdeic {
            >.gdeic-aside {
                width: $collapsedAsideWidth;
            }
            @include _collapsed-hover($collapsedAsideWidth);
            @include _hover-menu-collapsed();
            &.expanded {
                >.gdeic-aside {
                    >nav.gdeic-aside-nav>a,
                    >ul.gdeic-aside-nav>li>a {
                        &:hover {
                            &:before {
                                visibility: hidden;
                            }
                        }
                    }
                }
                @include _hover-menu-expanded();
            }
        }
    }
}