@mixin slide-menu() {
    $selectColor: transparentize($headerColor, .5);
    .gdeic {
        .gdeic-aside-toggle {
            $width: 25px;
            $height: 4px;
            $margin: 12px;
            position: relative;
            display: block;
            width: $width + 2 * $margin;
            height: $headerHeight - 1px;
            border: fnDefaultBorder($headerColor);
            border-top-width: ($headerHeight - $height) / 2;
            border-left-width: $margin;
            border-bottom-width: ($headerHeight - $height) / 2;
            border-right-width: $margin;
            padding: 2px 0;
            background-color: $asideColor;
            &:before,
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: $width;
                height: $height;
                background-color: $asideColor;
            }
            &:before {
                top: 8px;
            }
            &:after {
                top: -8px;
            }
            &:hover {
                background-color: $asideHighlightColor;
                cursor: pointer;
                &:before,
                &:after {
                    background-color: $asideHighlightColor;
                }
            }
            +.gdeic-header-title {
                margin-left: 0;
            }
        }
        .gdeic-header {
            .gdeic-aside-toggle {
                float: left;
            }
        }
        .gdeic-aside {
            width: $asideWidth;
            overflow-x: hidden;
            >ul.gdeic-aside-nav>li {
                >a {
                    display: block;
                    padding-left: 15px;
                    line-height: 3em;
                    white-space: nowrap;
                    @include a($headerColor);
                    >span {
                        &.glyphicon,
                        &.fa {
                            +span {
                                margin-left: .5em;
                            }
                        }
                    }
                    +ul {
                        z-index: 10;
                        >li {
                            position: relative;
                            height: 0;
                            border-right: 5px solid $selectColor;
                            overflow: hidden;
                            @include transition(height .5s);
                            >a {
                                display: block;
                                padding-left: 2.7em;
                                line-height: 3em;
                                white-space: nowrap;
                                @include a($headerColor);
                                &:hover,
                                &.active {
                                    background-color: $asideHighlightColor;
                                }
                            }
                        }
                    }
                }
                &.gdeic-aside-nav-title {
                    margin: 0 1.5em 2px;
                    border-bottom: 2px dotted $asideHighlightColor;
                    line-height: 2em;
                    color: transparentize($headerColor, .5);
                    text-align: center;
                    white-space: nowrap;
                }
                &.active {
                    >a {
                        border-top: fnDefaultBorder(fnGetColor($asideHighlightColor, 30));
                        border-bottom: fnDefaultBorder(fnGetColor($asideHighlightColor, -30));
                        background-color: $asideHighlightColor;
                        &+ul {
                            >li {
                                height: 3em;
                                >a {
                                    &:before {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        top: 50%;
                                        left: 1.5em;
                                        width: .5em;
                                        height: .5em;
                                        @include border-radius(.5em);
                                        background-color: $selectColor;
                                        @include transform(translateY(-50%))
                                    }
                                }
                            }
                        }
                    }
                }
            }
            >.gdeic-aside-toolbar {
                width: $asideWidth;
            }
        }
    }
    // media query
    @media(min-width:$collapseMediaWidth + 1px) {
        .gdeic {
            &.collapsed {
                @include _collapsed-hover($collapsedAsideWidth);
                >.gdeic-aside {
                    width: $collapsedAsideWidth;
                    overflow: initial;
                    >ul.gdeic-aside-nav>li {
                        position: relative;
                        &.gdeic-aside-nav-title {
                            display: none;
                        }
                        >a {
                            padding-left: ($collapsedAsideWidth - $mainFontSize) / 2;
                            >span {
                                &.glyphicon,
                                &.fa {
                                    +span {
                                        display: none;
                                    }
                                }
                            }
                            +ul {
                                position: absolute;
                                top: 0;
                                left: $collapsedAsideWidth - 5px;
                                >li {
                                    height: 0;
                                    border: none;
                                    background-color: $asideHighlightColor;
                                    >a {
                                        padding: 0 1.5em;
                                        &:before {
                                            display: none;
                                        }
                                        &:hover,
                                        &.active {
                                            background-color: transparentize($selectColor, .1);
                                        }
                                    }
                                }
                            }
                        }
                        &:hover {
                            >a {
                                +ul {
                                    >li {
                                        height: 3em;
                                    }
                                }
                            }
                        }
                    }
                    >.gdeic-aside-toolbar {
                        width: 0;
                    }
                    +.gdeic-content {
                        margin-left: $collapsedAsideWidth;
                    }
                }
            }
        }
    }
    @media(max-width: $collapseMediaWidth) {
        .gdeic {
            @if $frame=='left-top' {
                >.gdeic-header {
                    margin-left: 0;
                }
                &.expanded {
                    >.gdeic-header {
                        margin-left: $asideWidth;
                    }
                }
            }
            >.gdeic-aside {
                width: 0;
                >.gdeic-aside-toolbar {
                    width: 0;
                }
                +.gdeic-content {
                    margin-left: 0;
                }
            }
            &.expanded {
                >.gdeic-aside {
                    width: $asideWidth;
                }
            }
        }
    }
}